*{
    margin:0; padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-image: url(../images/background.png);
	background-position: center; 
	background-repeat: no-repeat;
	background-size: 100%;
	margin:0; 
	padding: 0%;
	padding-top: 0%;
}

body{
	float: top;
	width: 800px;
	margin: 0em auto;
	border: 1px solid black;
	background:rgb(230, 229, 229);
	padding-top: 0%;
	height: 695px;
	padding-bottom: 0%;
}

#aum_img{
	width: 15%;
	margin: 0em;
	border: 1px solid black;
	box-shadow: 0.5px 0.5px black;
	background: white;
	float: left;
	margin-top: 0%;
	height: 108px;
}

#header{
	border-bottom: 0px solid black;
	padding: 0.1em 0.0em;
	background-image: -webkit-linear-gradient(20deg, white 0%, #f8300c 80%);
	background-image: -moz-linear-gradient(20deg, white 0%, #ff2600 80%);
	background-image: -o-linear-gradient(20deg, white 0%, #ff2600 80%);
	background-image: linear-gradient(20deg, white 0%, #ff2600 80%);
	align-items: left;
	height: 108px;
}

#h1{
	color: black;   
	text-align: top;
	font-size: 175%;
	padding-left: 25%;
    padding: 0%;
    padding-left: 23%;
} 

#nav_menu ul {
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}

#nav_menu ul li {
	width: 80%;
	padding: 0;
	float: left;
}

#nav_menu ul li a{
	display: block;
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 0.10em 0;
	font-size: 90%;
	text-align: center;
	font-weight: 200;
}

img{
	width:5%;
	height: 3%;
	float: right;
}

.img_footer
{
	width:3%;
	height: 3%;
	padding: 0.0em 0.0em;
	margin: 0%;
	text-align: right;
	float: right;
	margin-left: 10px;
}

#right{
	height: 40%;
	width:50%;
	float: right;   
}

.border{
	border-top: .1px solid grey;
	border: width 0px;
}

#borderbottom{
	border-top: .1px solid grey;
	width:50%;
}

.hr{
	width: 95%;
}

#h5{
	font-size:12px;
	text-align:left;
	padding-left: 8px;
	padding-bottom: 0%;
}

.vertical-line {
	border-right: 2px solid #cb0b0b; 
	height: 100px;
}

.vertical-line::after {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px; /* Adjust the width of the cap as needed */
	height: 10px; /* Adjust the height of the cap as needed */
	background-color: #000; /* Adjust the color of the cap as needed */
	border-radius: 50%; /* Create a circular cap */
	left: -1px; /* Adjust the position of the cap */
}

#left{
	height: 40%;
	width:50%;
	float: left;
}

h3{
	font-size: medium;
	padding-left: 8px;
}

footer{
	text-align:center;
	padding-bottom: 10%;
	line-height: 10px;
	clear:both;
	background:orangered;
	padding-top: 1%;	
	font-size: 90%;
	padding-left: 3%;
	margin-top: -2%;
}

#footer{
	text-align: left;
	padding: 0% 0%;
	margin: 0%;
    float: left;
}

#footer_text{
	text-align: left;
	padding: 0% 0%;
	margin: 0%;
    float: left;
}

.add-space {
	word-spacing: 10px; 
}

#nav_bar ul {
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
}

#nav_bar ul li{
	float: left;
	padding: 0;
}

#nav_bar ul li a{
	display: block;
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 0.8em 0;
	font-size: 90%;
	width: 169.5px;
	text-align: center;
	font-weight: 200;
}

#nav_bar ul li a.current{
	color: #FFA500;
}

#nav_bar ul li a:hover, #nav_bar ul li a:focus {
	background-color: gray;
}

#nav_bar ul ul{
	display: none;
	position: absolute;
	top: 100%;
}

#nav_bar ul ul li{
	float: none;
	position: relative;
	font-size: 90%;
}

nav a.active {
	background-color: #3498db;
	color: #fff;
}

#nav_bar ul li:hover > ul{
    display:block;
}

#nav_bar ul li a.current{
	color: #FFA500;
}

#nav_bar > ul::after{
	content: "";
	display: block;
	clear: both;
}

h1 {
    color:black; 
    font-size: 120%;
    padding: .3em 1em;
    text-align: left;   
}

h2 {
    font-size: 100%;
	padding: .1em .5em;
}


main{
    margin: 0 auto;
    border-radius: 5px;    
    padding: 0px;	
    display: flex;
}

.left-half, .right-half {
    flex: 1;
}

.hr{
	width: 95%;

}

/*.divider {
    width: 2px;
    background-color: red;
	padding: 0%;
	margin-right: 1%;
    margin-bottom: 0%;
} */

.divider {
    width: .5px;
    background-color: orangered;
	padding: 0%;
	margin: 0%;
	margin-right: 1%;
    margin-bottom: 0%;
    margin-left: -0.9%;
}
#line:nth-child(2) {
	top: 10%; 
}
#line {
	top: 0;
	width: 95%;
	border-top: 1px solid grey; 
	margin-bottom: .1%;
	margin-top: .1%;
}

.divider:nth-child(2) {
	right: 0%; 
}
.ul{
    font-size:12px;
    margin-left: 5%;
}

#h5{
	font-size:12px;
	text-align:left;
	padding-left: 8px;
	padding-bottom: 0%;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size:12px;
    width: 95%;
}

thead {
    background-color: rgb(186, 183, 183);
}

th, td {
    border: 1px solid #312960;
    padding: .2em 1em .2em .5em;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(186, 183, 183);
}

.right {
    text-align: right;
}

.tr{
    background-color:grey;
}

tbody tr:nth-child(1) td {
    background-color: rgb(186, 183, 183);
}

tbody tr:nth-child(even) td {
    background-color: rgb(186, 183, 183);
}

tbody tr th{
    vertical-align: top;
}

